{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'MODULE/style.css' %}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'cookbook/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'cookbook/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'cookbook/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'cookbook/site.webmanifest' %}">

    <title>{% block title %}Title{% endblock %}</title>
</head>


<body>
<nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h2>Menu</h2>
    </div>

    <div class="line"></div>

    <ul class="list-unstyled sidebar-list">
        <li>
            <a href="{% url 'cookbook:index' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <form enctype="multipart/form-data" method="post" action="{% url 'cookbook:upload_recipe' %}"
                      class="hidden">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="file" id="upload-recipe" name="file" onchange="this.form.submit()" multiple
                           class="hidden">
                </form>
                <a id="upload-button" onclick="uploadRecipe()">Upload file</a>
            </li>
        {% endif %}
    </ul>

    <div class="line"></div>
    {% block sidebar %}
    {% endblock %}

    <ul class="list-unstyled sidebar-list">
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'MODULE:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'MODULE:login' %}">Log in</a>
            {% endif %}
        </li>
    </ul>
</nav>


<header>
    <div id="hdr" class="container-fullwidth">
        <nav class="navbar">
            <h1 class="navbar-brand"><a href="{% url 'MODULE:index' %}">MODULE_NAME.</a></h1>
            <ul class="nav navbar-nav">
                <li class="navbar-btn"><a href="{{ HTTP_HOST }}">Site home</a></li>
            </ul>
            <button type="button" id="sidebarCollapse" class="navbar-btn d-inline-block">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
</header>

<main role="main" class="container">
    <div id="content">

        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>


<div class="overlay"></div>
</body>


<!-- jQuery CDN - -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

</html>