/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
    position: relative;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fffcff;
    margin-bottom: 30px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #fffcff;
    border: none;
    box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 1);
    padding-bottom: 0;
    z-index: 100;
    width: 100%;
    /*text-align: right;*/
    position: relative;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    text-align: right !important;
    display: inline-block;
}

.line {
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #001427;
    margin: 20px 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: calc(100% - 270px);
    transition: all 0.3s;
    position: absolute;
    top: 100px;
    left: 250px;
    padding: 10px 20px 10px;
    margin: 10px 20px 10px;
}

#content.active {
    left: 0;
    width: calc(100% - 20px);
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #fffcff;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: -0.1s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

.sidebarHeading {
    font-size: 24px;
    margin-left: 5px;
    padding: 10px 10px 0;
}

.sidebar-list {
    padding: 5px;
    margin-top: 5px;
}

#hdr {
    width: calc(100% - 250px);
    z-index: 100;
    position: absolute;
    right: 0;
    transition: 0.3s;
}

#hdr.active {
    width: 100%;
}

.navbar-brand {
    font-size: 48px;
    padding-left: 20px;
}

input.hidden {
    display: none !important;
}

#ingredients h2 {
    font-size: 24px;
}

#ingredients h3 {
    font-size: 18px;
}

#instructions h2 {
    font-size: 24px;
}

#instructions h3 {
    font-size: 18px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 110;
    background: #fffcff;
    color: #001427;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    margin-left: -250px;
}


#sidebar .sidebar-header {
    padding: 20px 15px 0;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a, label {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/*.auth {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    padding: 10px;*/
/*    bottom: 25px;*/
/*}*/

#sidebar ul li #upload-button {
    cursor: pointer;
}

#sidebar ul li a:hover, label:hover {
    color: #001223;
    background: #fffbfc;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


/* ---------------------------------------------------
    detail page
----------------------------------------------------- */

#recipe-name {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#changelog-button {
    cursor: pointer;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {

    #sidebar {
        margin-left: -250px;
        transform-origin: bottom left; /* Set the transformed position of sidebar to center left side. */
    }

    #sidebar.active {
        margin-left: 0;
    }

    #dismiss {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #7386D5;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    #dismiss:hover {
        background: #fff;
        color: #7386D5;
    }

    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 100;
        opacity: 0;
        transition: all 0.7s ease-in-out;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 100px;
        left: 0;
        margin-bottom: 40px;
    }

    #hdr {
        /*padding-top: 10px;*/
        width: 100%;
        /*border: none;*/
        /*border-radius: 0;*/
        /*margin-bottom: 20px;*/
        z-index: 100;
        /*box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);*/
        position: absolute;
        right: 0;
        transition: 0.3s;
        /*display: inline;*/
    }

    #hdr.active {
        width: 100%;
    }
}
